#container
	{
		width:100%;
		height:100%;
	}
#show_bal
	{
		padding:5px;
		float:right;
		color:RED;
		border:1px dotted black;
	}
.imp,#show_err
	{
		color:RED;
	}
table td
	{
		margin-top:10px;
	}